.Project{
    margin:0;
}

.projectlink {
    font-weight: 400;
    font-size: var(--f-u4);
}

.btnproject {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.des{
    font-size: 1.1rem;
}

