.footer {
    text-align: center;
    padding-top: 8rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
   
}

.byline {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: var(--t-subdue);
    font-size: var(--f-d2);
    text-transform: uppercase;
    width: 2rem;
    height: 2rem;
}

/*
.footer img {
	display:flex;
	justify-content: space-between;
	align-items: stretch;
	width: 2rem;
	height: 2rem;
}*/

.role {
    position: relative;
    display: inline-block;
    font-weight: 900;
    color: var(--t-bg);
    background-color: var(--t-fg);
    border-color: lavender;
    border-style: double;
    padding: 0.25em 0.5em;
    z-index: 2;
}

.gotop {
    margin: 30px;
    display: flex;
    justify-content: center;
}